<%= form_for(@ads_answers_question) do |f| %>
  <% if @ads_answers_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ads_answers_question.errors.count, "error") %> prohibited this ads_answers_question from being saved:</h2>

      <ul>
      <% @ads_answers_question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
