<p id="notice"><%= notice %></p>

<h1>Listing Ads Answers Questions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ads_answers_questions.each do |ads_answers_question| %>
      <tr>
        <td><%= link_to 'Show', ads_answers_question %></td>
        <td><%= link_to 'Edit', edit_ads_answers_question_path(ads_answers_question) %></td>
        <td><%= link_to 'Destroy', ads_answers_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ads answers question', new_ads_answers_question_path %>
